.contact-container {
  gap: 0px;
  width: auto;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100vh;
  align-items: center;
  place-content: center;
  flex-direction: column;
  background-color: #161616;
}
.contact-container1 {
  top: 32px;
  left: 50%;
  width: auto;
  height: 50px;
  z-index: 10;
  position: fixed;
  transform: translateX(-50%);
}
.contact-container2 {
  gap: 0px;
  width: min-content;
  height: 100%;
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0.48175px 1.44525px -1.25px, rgba(0, 0, 0, 0.05) 0px 1.83083px 5.49248px -2.5px, rgba(0, 0, 0, 0.02) 0px 8px 24px -3.75px, rgba(0, 0, 0, 0.04) 0px 0.48175px 1.44525px -0.833333px, rgba(0, 0, 0, 0.04) 0px 1.83083px 5.49248px -1.66667px, rgba(0, 0, 0, 0.04) 0px 8px 24px -2.5px;
  align-items: center;
  padding-top: 4px;
  will-change: transform;
  border-color: #393939;
  border-style: solid;
  padding-left: 4px;
  align-content: center;
  border-radius: 24px;
  padding-right: 4px;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: center;
  background-color: #262626;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.contact-text {
  gap: 10px;
  flex: none;
  color: rgb(198, 198, 198);
  width: 110px;
  cursor: pointer;
  height: min-content;
  display: flex;
  padding: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  flex-wrap: nowrap;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.contact-text:hover {
  color: #ffffff;
}
.contact-text1 {
  gap: 10px;
  flex: none;
  color: rgb(198, 198, 198);
  width: 110px;
  cursor: pointer;
  height: min-content;
  display: flex;
  padding: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  flex-wrap: nowrap;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.contact-text1:hover {
  color: #ffffff;
}
.contact-text2 {
  color: rgb(244, 244, 244);
  width: 110px;
  padding: 10px 16px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  border-color: #525252;
  border-style: solid;
  border-width: 1px;
  border-radius: 17px;
  background-color: rgb(57, 57, 57);
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.contact-container3 {
  gap: 24px;
  flex: 0 0 auto;
  width: 600px;
  height: min-content;
  display: flex;
  padding: 128px 0px;
  overflow: visible;
  position: relative;
  flex-flow: column nowrap;
  max-width: 600px;
  align-items: center;
  place-content: center flex-start;
}
.contact-container4 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: visible;
  position: relative;
  flex-flow: column nowrap;
  transform: none;
  align-items: flex-start;
  place-content: flex-start;
}
.contact-text3 {
  color: #f4f4f4;
  font-size: 20px;
  font-style: normal;
  text-align: start;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: none;
  text-decoration: none;
  paragraph-spacing: 40px;
}
.contact-container5 {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 16px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0.48175px 1.44525px -1.25px, rgba(0, 0, 0, 0.05) 0px 1.83083px 5.49248px -2.5px, rgba(0, 0, 0, 0.02) 0px 8px 24px -3.75px;
  align-items: center;
  border-color: #2e2e2e;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  place-content: center flex-start;
  flex-direction: column;
  background-color: #262626;
}
.contact-container6 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: visible;
  position: relative;
  flex-flow: column nowrap;
  align-items: flex-start;
  place-content: flex-start center;
  flex-direction: column;
}
.contact-container7 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: visible;
  position: relative;
  flex-flow: column nowrap;
  align-items: flex-start;
  place-content: flex-start center;
  flex-direction: column;
}
.contact-container8 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: visible;
  position: relative;
  flex-flow: row wrap;
  align-items: center;
  place-content: center flex-start;
}
.contact-link {
  text-decoration: none;
}
.contact-link1 {
  text-decoration: none;
}
.contact-text8 {
  flex: 0 0 auto;
  color: rgb(244, 244, 244);
  width: 100%;
  height: 128px;
  display: flex;
  position: relative;
  font-size: 14px;
  max-width: 600px;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 14px;
  align-content: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .contact-container3 {
    width: 90%;
  }
}
