.page-container {
  width: auto;
  height: min-content;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #161616;
}
.page-container1 {
  gap: 30px;
  flex: none;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 100px 20px;
  overflow: visible;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.page-container2 {
  gap: 24px;
  flex: none;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 40px;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  max-width: 600px;
  align-items: center;
  will-change: transform;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.page-text {
  color: #f4f4f4;
  font-size: 256px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.5px;
}
.page-text1 {
  color: #C6C6C6;
  width: auto;
  height: auto;
  display: flex;
  font-size: 20px;
  max-width: 600px;
  transform: none;
  text-align: center;
  flex-shrink: 0;
  font-family: sans-serif;
  line-height: 28px;
  justify-content: flex-start;
  paragraph-spacing: 40px;
}
.page-navlink {
  text-decoration: none;
}
.page-text2 {
  flex: 0 0 auto;
  color: rgb(244, 244, 244);
  width: 100%;
  height: 128px;
  display: flex;
  position: relative;
  font-size: 14px;
  max-width: 600px;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 14px;
  align-content: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page-container2 {
    width: 90%;
  }
  .page-text {
    font-size: 161px;
  }
}
