:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: #f4f4f4;
  width: max-content;
  cursor: pointer;
  height: min-content;
  display: flex;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
  border-color: #525252;
  border-style: solid;
  border-width: 1px;
  border-radius: 17px;
  background-color: #262626;
}
.button:hover {
  color: var(--dl-color-gray-black);
  border-color: #f4f4f4;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.subtitle {
  color: #f4f4f4;
  font-size: 16px;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 24px;
}
.paragraph {
  color: #c6c6c6;
  font-size: 14px;
  font-style: normal;
  font-family: sans-serif;
  line-height: 20px;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.vertical-container {
  gap: 0px;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  min-height: 100vh;
  align-items: center;
  padding-top: 128;
  align-content: center;
  place-content: center;
  flex-direction: column;
  padding-bottom: 128;
  justify-content: flex-start;
  background-color: #161616;
}

.header-container {
  top: 32px;
  left: 50%;
  width: auto;
  height: 50px;
  z-index: 10;
  position: fixed;
  transform: translateX(-50%);
}

.header{
  gap: 0px;
  width: min-content;
  height: 100%;
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0.48175px 1.44525px -1.25px, rgba(0, 0, 0, 0.05) 0px 1.83083px 5.49248px -2.5px, rgba(0, 0, 0, 0.02) 0px 8px 24px -3.75px, rgba(0, 0, 0, 0.04) 0px 0.48175px 1.44525px -0.833333px, rgba(0, 0, 0, 0.04) 0px 1.83083px 5.49248px -1.66667px, rgba(0, 0, 0, 0.04) 0px 8px 24px -2.5px;
  align-items: center;
  padding-top: 4px;
  will-change: transform;
  border-color: #393939;
  border-style: solid;
  padding-left: 4px;
  align-content: center;
  border-radius: 24px;
  padding-right: 4px;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: center;
  background-color: #262626;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.header-unselected-text{
  gap: 10px;
  flex: none;
  color: rgb(198, 198, 198);
  width: 110px;
  cursor: pointer;
  height: min-content;
  display: flex;
  padding: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  flex-wrap: nowrap;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.header-unselected-text:hover {
  color: #ffffff;
}

.header-selected-text{
  color: rgb(244, 244, 244);
  width: 110px;
  padding: 10px 16px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  border-color: #525252;
  border-style: solid;
  border-width: 1px;
  border-radius: 17px;
  background-color: rgb(57, 57, 57);
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.central-line{
  gap: 32px;
  flex: none;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 128px 0;
  overflow: visible;
  position: relative;
  flex-wrap: nowrap;
  max-width: 600px;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


@media(max-width: 767px) {
  .central-line {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .central-line {
    width: 90%;
  }
}
